<h1> Discover </h1>

  <h2> <a href=<%= @art["url"]%> target="_blank"><%= @art["title"] %></a>  </h2>

      <img class="image" src=<%=@art["images"][0].first[1]["url"]%>></div>
      </a>
      <br>
      <div class="button"><%= button_to "Add to Favorites", new_user_art_path, params: {title: @art["title"], url_link: @art["url"], image: @art["images"][0].first[1]["url"]}, method: :get  %></div>

