<h1> Art Show Page </h1>
<img src="<%= @user_art.image %>" alt="<%= @user_art.title %>" class="favorite-show-page">

<h4><%= @user_art["title"] %> </h4>
<a href=<%= @user_art["url_link"] %>> More Info </a>

<br>
<h3> Comments Made From Others </h3>