<%# Use profile picute class for css later%>
<% if session[:user_id] %>
<h1><%= @user.name %></h1>
<h2>Email: <%= @user.email %></h2>
<h2>Facebook UID: <%= @user.uid %></h2>
<img src="<%= @user.profile_picture %>">

<h3>Your Favorites</h3>

