<%# Use profile picute class for css later%>
<img src="<%= @user.profile_picture %>" alt="<%= @user.name %> Profile Pic" class="profile-picture" width="700" height="600">
<h2><%= @user.name  %></h2>
<p class="user-bio"> <%= @user.bio %> </p>