.search_bar {
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    padding-bottom: 15px;
}

.welcome_message {
    font-family: 'Barlow', sans-serif;
    font-size: 37px;
    padding: 15px 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    height: 25%;
    width: 50%;
}

.column {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
/* .column image {
    margin-top: 10%;
    vertical-align: middle;
    width: 1000px;
    height: 1000px;
} */

.testimage {
    margin-top: 8px;
    vertical-align: middle;
    width: 6%
}

.brand_message {
    font-family: 'Barlow', sans-serif;
    font-size: 58px;
    letter-spacing: 10px;
    padding-bottom: 10px;
}

.brand_description {
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    font-style: italic;
    padding-bottom: 4px;
}

.logged_in_welcome_message{
    font-family: 'Barlow', sans-serif;
    font-size: 37px;
    padding: 8px 8px;
    padding-bottom: 2%;
}

.logged_in_brand_description
{
    font-family: 'Barlow', sans-serif;
    font-size: 17px;
    font-style: italic;
    padding-bottom: 4px;
}

.logged_in_brand_message {
    font-family: 'Barlow', sans-serif;
    font-size: 58px;
    letter-spacing: 10px;
    padding-bottom: 1px;
}


h2 {
    color: Black;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 35px;   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
