
  <h1><%= params['q'].capitalize %></h1>
      <br>
      <br>

      <div class="results_container">
        <% @objects.each do |object| %>
          <div class="res_individual_container">
              <% if !object["images"][0].nil? %>
                <div class="floating_art"><a href=<%=new_user_art_path%>><img class="image" border="0" src=<%=object["images"][0].first[1]["url"]%>></a></div>
                <br>
              <% end %>
            </div>
        <% end %>
      </div>