// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box {
    background: #333;
    width: 100%;
    max-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: calc(100vh - 200px);
}


.user-name {
    text-transform: uppercase;
    text-align: center;    
}

.user-name h3 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 29px;
}

.user-bio {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
}

.favorites {
    line-height: 20px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 130px;
}


.user-image a {
    max-width: 10%;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;   
}

.column {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
  width: 100%;
}

