// Place all the styles related to the UserArts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.link {
    text-align: center;
}

.link a {
    font-family: "Barlow", san-serif;
    font-size: 17px;
}


.box {
    background: #333;
    width: 100%;
    max-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;    
}

.favorite-show-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: calc(100vh - 200px);
}

.title {
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.blurb {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 20px;
    text-align: center;
}

.comment {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.no-comment {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 20px;
}

.brand_description a {
    font-family: 'Barlow', sans-serif;
    font-size: 17px;

}

.image {
    max-width: 40%;
    max-height: 20%;
    padding-bottom: 2%;
}

.discovered_art_medium { 
    font-size: 20px;
    font-family: 'Barlow', sans-serif; 
    font-style: italic;
    opacity: 0.7;
    padding-bottom: 4%;
    text-align: center;
}